alembic==1.4.2
aniso8601==6.0.0
appdirs==1.4.4
appnope==0.1.0
astroid==2.2.5
attrs==20.2.0
autopep8==1.5.4
awscli==1.18.169
Babel==2.8.0
backcall==0.2.0
beautifulsoup4==4.9.1
bokeh==2.1.1
botocore==1.19.9
bs4==0.0.1
certifi==2020.6.20
chardet==3.0.4
Click==7.0
colorama==0.4.3
decorator==4.4.2
distlib==0.3.1
docutils==0.15.2
ecdsa==0.13.2
filelock==3.0.12
Flask==1.0.2
Flask-Cors==3.0.8
Flask-Migrate==2.5.3
Flask-Moment==0.10.0
Flask-RESTful==0.3.7
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.0
Flask-WTF==0.14.3
future==0.17.1
gunicorn==20.0.4
idna==2.10
importlib-metadata==1.7.0
iniconfig==1.1.1
ipykernel==5.3.3
ipython==7.16.1
ipython-genutils==0.2.0
isort==4.3.18
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.10.1
jmespath==0.10.0
jupyter-client==6.1.6
jupyter-core==4.6.3
Kivy==1.11.1
Kivy-Garden==0.1.4
lazy-object-proxy==1.4.0
lxml==4.5.2
Mako==1.1.3
MarkupSafe==1.1.1
mccabe==0.6.1
numpy==1.19.0
opencv-python==4.3.0.36
packaging==20.4
pandas==1.0.5
pandas-datareader==0.9.0
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
pluggy==0.13.1
prompt-toolkit==3.0.5
psycopg2-binary==2.8.2
ptyprocess==0.6.0
py==1.9.0
pyasn1==0.4.8
pycodestyle==2.6.0
pycryptodome==3.3.1
Pygments==2.6.1
PyJWT==1.7.1
pylint==2.3.1
pyparsing==2.4.7
pytest==6.1.2
python-dateutil==2.6.0
python-editor==1.0.4
python-jose-cryptodome==1.3.2
pytz==2019.1
PyYAML==5.3.1
pyzmq==19.0.1
requests==2.24.0
rsa==4.5
s3transfer==0.3.3
six==1.12.0
soupsieve==2.0.1
SQLAlchemy==1.3.3
toml==0.10.1
tornado==6.0.4
traitlets==4.3.3
typed-ast==1.3.5
typing-extensions==3.7.4.2
urllib3==1.25.9
virtualenv==20.0.25
wcwidth==0.2.5
Werkzeug==0.15.2
wrapt==1.11.1
WTForms==2.3.3
xlrd==1.2.0
zipp==3.1.0
